body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.background {
    background: url('../static/images/HHI.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px); /* Blurred background */
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 100px;
    width: 70%;
}

h2 {
    text-align: center;
    color: #0078FF;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-group {
    display: flex;
    gap: 15px;
}

input, select {
    flex: 1;
    padding: 10px;
    border: 2px solid #0078FF;
    border-radius: 8px;
    background-color: #f8f8f8;
}

button {
    background-color: #0078FF;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #005ecb;
}

.warning {
    color: red;
    font-size: 12px;
    display: none; /* Hidden by default */
}
