<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hispanic Health Initiative</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <header>
        <h1>Hispanic Health Initiative Database</h1>
    </header>

    <section class="data">
        <div class="features">
            <div class="feature" onclick="location.href='../templates/add-client.html'">
                <i class="fas fa-user-plus"></i>
                <h3>Add New Client</h3>
                <p>Easily register new clients and update their information.</p>
            </div>
            <div id="addClientContainer"></div>
            <div class="feature">
                <i class="fas fa-search"></i>
                <h3>Search for Client</h3>
                <p>Quickly find client profiles using any data point.</p>
            </div>
            <div class="feature">
                <i class="fas fa-chart-line"></i>
                <h3>View Overall Data</h3>
                <p>Visualize key health metrics for all clients in one place.</p>
            </div>
        </div>
    </section>
</body>
</html>
